:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  .search {
    flex: 1;
    margin: 0 3rem;
    padding: 0.3rem 0.7rem;
  }
}

main {
  margin-top: 4rem;
  flex: 1;
  overflow: auto;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
}
